<% for ac in  @recent_transactions %>
<li class="" id="recent_transaction_<%= ac.id%>">
    <dt>
        <%=link_to truncate(ac.csp_code,:length=>27),account_path(ac) %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>