<div id="page_menu">
<ul class="page_menu">

  <li>
    <a href="#">
      <div class="menu-l">
        &nbsp;
      </div>
      <div class="menu-c">
        <span>&nbsp;&nbsp;GENERAL&nbsp;&nbsp;&nbsp;</span>
      </div>
      <div class="menu-r">
        &nbsp;
      </div>
    </a>
    <ul>
      <li>
        <%= link_to 'Users', users_path,:class=>"tipTip1",:title=>"Manage States" %>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">
      <div class="menu-l">
        &nbsp;
      </div>
      <div class="menu-c">
        <span>&nbsp;&nbsp;ACCOUNTS&nbsp;&nbsp;&nbsp;</span>
      </div>
      <div class="menu-r">
        &nbsp;
      </div>
    </a>
    <ul>
      <li>
        <%= link_to 'Manage Accounts', accounts_path %>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">
      <div class="menu-l">
        &nbsp;
      </div>
      <div class="menu-c">
        <span>&nbsp;&nbsp;TRANSACTIONS&nbsp;&nbsp;&nbsp;</span>
      </div>
      <div class="menu-r">
        &nbsp;
      </div>
    </a>
    <ul>
      <li>
        <%= link_to 'Manage Transactions', transactions_path %>
      </li>
    </ul>
  </li>
</ul>
</div>
