<% for ac in  @recent_accounts %>
<li class="" id="recent_account_<%= ac.id%>">
    <dt>
        <%=link_to truncate(ac.name.titleize,:length=>20),account_path(ac) %>
    </dt>
    <tt>
        <br/>
    </tt>
</li>
<% end %>