<h3>Accounts | New CSP Account Creation</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for New CSP Account.<br/>* Please check all entries before Save.
  </div>
  <%= render 'form' %>
  <%= link_to 'Back to Accounts', accounts_path, :class=>'more tipTip1',:title => "Back to States" %>
</div>